@import "tailwindcss";

@theme {
  --font-josefin: var(--font-josefin);
  --font-seasons: var(--font-seasons);
  --font-soria: var(--font-soria);

  --color-terracota: #F2502C;
  --color-laranja: #F26522;
  --color-pessego: #F9CDBB;
  --color-amarelo: #FCF59B;
  --color-amarelo-medio: #F9A852;
  --color-verde-sage: #CAD17A;
  --color-verde-medio: #91C494;
  --color-vermelho: #C42311;
  --color-rosa: #E94151;
  --color-creme: #FFFDF7;
  --color-escuro: #2D2D2D;
}

html {
  scroll-behavior: smooth;
}

.font-seasons {
  font-family: var(--font-seasons);
}

.font-soria {
  font-family: var(--font-soria);
}

.font-josefin {
  font-family: var(--font-josefin);
}